<img src="/img/planets/planet-1-page3.png" alt="" class="planet-1 decoration">
  <img src="/img/planets/planet-2-page3.png" alt="" class="planet-2 decoration">
  <img src="/img/planets/planet-3-page3.png" alt="" class="planet-3 decoration">
  <main>
    <img src="/img/backgrounds/page3-background.png" class="main-back decoration" alt="" />
    <div class="head">
        <img src="/img/characters/astronaut-page3.png" alt="" />
        <div class="text">
            <h1>aritmetio</h1>
          <p>¡Explora el espacio de las matemáticas!</p>
        </div>
    </div>
    <div class="operation">
      <div class="num1">381</div>
      <div class="sign">-</div>
      <div class="num2">573</div>
      <input type="text" class="solution">
    </div>
    <div class="game-info">
      <div class="time-left">
        <div class="seconds-left">27</div>
        <p>tiempo restante</p>
      </div>
      <progress max="100" value="20">20%</progress>
    </div>
  </main>