<div class="dashboard-container">
  <div class="header">
    <h1>Panel de Estadísticas</h1>
    <p>Visualiza tu progreso en la práctica de matemáticas básicas</p>
  </div>

  <div class="grid">
    <div class="stats">
      <div class="col-12 lg:col-4">
        <p-card>
          <div class="section-title">
            <div class="icon-wrapper"><i class="pi pi-chart-pie"></i></div>
            Distribución de Operaciones
          </div>
          <p-chart
            type="pie"
            [data]="opDistributionData"
            [options]="opDistributionOptions"
            class="w-full md:w-[30rem]"
          />
        </p-card>
      </div>
      <div class="col-12 lg:col-4">
        <p-card>
          <div class="section-title">
            <div class="icon-wrapper"><i class="pi pi-chart-scatter"></i></div>
            Rendimiento Diario
          </div>
          <p-chart
            type="bar"
            [data]="dailyPerformanceData"
            [options]="dailyPerformanceOptions"
            class="h-[30rem]"
          />
        </p-card>
        <div class="text-line">
          <p-card class="h-full text-card">
            <div class="stat-title">
              <i class="pi pi-check-circle"></i> Precisión Global
            </div>
            <div class="stat-number">{{ globalPrecision }}%</div>
            <div class="positive-trend">
              <i class="pi pi-arrow-up"></i> {{ weeklyPrecision }}% desde la
              semana pasada
            </div>
          </p-card>
          <p-card class="h-full text-card">
            <div class="stat-title">
              <i class="pi pi-list"></i> Operaciones Realizadas
            </div>
            @if(totalOperations > 0) {
            <div class="stat-number">{{ totalOperations }}</div>
            @if(weeklyOperations > 0) {
            <div class="positive-trend">
              <i class="pi pi-arrow-up"></i> {{ weeklyOperations }} esta semana
            </div>
            } }
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
